{
  "extends": ["airbnb-base/legacy"],
  "rules": {
    "wrap-iife": "off",
    "linebreak-style": "off",
    "func-names": "off",
    "one-var": "off",
    "vars-on-top": "off",
    // nice rule, but conflict with prettier.
    // https://github.com/prettier/prettier/issues/3806
    "operator-linebreak": "off"
  },
  "globals": { "jQuery": "readonly", "hexo": "readonly" },
  "ignorePatterns": ["*.ejs"],
  "overrides": [
    {
      "files": ["scripts/*.js"],
      "extends": ["airbnb-base"],
      "rules": {
        "linebreak-style": "off",
        "no-param-reassign": "off",
        "no-use-before-define": "off",
        "arrow-body-style": "off",
        "comma-dangle": "off",
        "no-unused-vars": "off"
      }
    }
  ]
}
