#header
  height: banner-height
  position: relative
  border-bottom: 1px solid color-border
#header-outer
  height: 100%
  position: relative
#header-inner
  position: relative
  height: 100%
  padding: 0 10px
  overflow: hidden
  line-height: banner-height
#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #000
  z-index: -1
#main-nav
  float: left
$nav-link
  float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  &:hover
    opacity: 1
.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  position: relative
  cursor: pointer
.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
#sub-nav
  float: right
#nav-search-btn
  &:before
    content: '\f002'
#search-form-wrap
  position: relative
  float: right
  width: 150px
  padding: 10px 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
.search-form
  position: relative
  height: 30px
  line-height: 30px
  background: #fff
  border-radius: 5px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
.search-form-input
  border: none
  padding-left: 10px
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration, &::-webkit-search-cancel-button
    -webkit-appearance: none
.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777
